

.Body{
    position: relative;
    height: 15em;
    width: 15em;
    font-size: 30px;
    perspective:80px;
}

.cartable{
    position: absolute;
    width: 4em;
    height: 1.5em;
    border-radius: 50%;
    background-color: rgb(85, 230, 85);
    border: 5px solid black;
    top: 12.2em;
    left: 3.45em;
    transform: rotateX(5deg);
    z-index: -1;
   
}

.cartonBody{
    position: relative;
    transform-style:preserve-3d ;
    

}
.cartonBody2{
    width: 3em;
    height: 2.5em;
    background-color: rgb(17, 108, 164);
    border-top-right-radius: 90em;
    border-top-left-radius: 90em;
    border-bottom-right-radius: 20em;
    border-bottom-left-radius: 20em;
    position: absolute;
    bottom:0;
    /* z-index: 3; */
    left: 4em;
    transform: rotateX(12deg) skewX(10deg);
    border: 5px solid black;
    border-bottom: 3px solid black;
}
.cartonBody3{
position: absolute;
    width: 3em;
    height: 2.1em;
    background-color:rgb(0, 187, 255);
    top: 0;
    border-top-right-radius: 90em;
    border-top-left-radius: 90em;
    border-bottom-left-radius: 10em;
    border-bottom-right-radius: 10em;
    border-bottom:2px solid black;
}