/* face*/

body{
  font-size: 75px;
  position: relative;
  overflow-x: hidden;
  background-color: yellow;
}
.face{
  background: white;
  width: 2em;
  height: 1.5em;
  border-top-left-radius: 0.7em;
  border-bottom-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
  border-bottom-right-radius: 0.7em;
  border: 0.053em solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 40%;
  
}

.eyes-mouth{
  position: relative;
  background: rgba(255, 230, 198);
  width:1.5em ;
  height: 1em;
  border-top-left-radius: 0.7em;
  border-bottom-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
  border-bottom-right-radius: 0.7em;
  border: 0.053em solid black;
  
}
.eyes{
  position: absolute;
  background: black;
  width: 0.2em;
  height: 0.2em;
  border-radius: 50%;
  box-shadow: 1px 10px 10px rgba(255, 0, 0, 0.886);
}
.right{
  top: 0.45em;
  left: 1em;
}
.left{
  top: 0.45em;
  left: 0.2em;
}
.mouth-left{
  position: absolute;
  background: black;
  width: 0.2em;
  height: 0.08em;
  top: 0.7em;
  left: 0.52em;
  border-radius: 50%;
  transform: rotate(8deg);
}
.mouth-right{
  position: absolute;
  background: black;
  width: 0.2em;
  height: 0.08em;
  top: 0.7em;
  left: 0.65em;
  border-radius: 50%;
  transform: rotate(-8deg);
}
.ear{
  position: absolute;
  width: 0.4em;
  height: 0.8em;
  border: 0.053em solid black;
  background: white;
 border-top-right-radius: 20px;
 border-top-left-radius: 20px;
}
.e-left{
  top: -0.5em;
  left: -0.2em;
  z-index: -8;
}
.e-right{
  top: -0.5em;
  right: -0.2em;
  z-index: -8;
}



/* body*/



.Body{
  position: absolute;
  height: 15em;
  width: 15em;
  font-size: 30px;
  perspective:80px;
  top: -5.8em;
  left: 13.8em;
  z-index: -1;
}

.cartable{
  position: absolute;
  width: 4em;
  height: 1.9em;
  border-radius: 50%;
  background-color: rgb(85, 230, 85);
  border: 5px solid black;
  top: 12.2em;
  left: 3.45em;
  transform: rotateX(5deg);
  z-index: -1;
 
}

.cartonBody{
  position: relative;
  transform-style:preserve-3d ;
  

}
.cartonBody2{
  width: 3em;
  height: 2.5em;
  background-color: rgb(17, 108, 164);
  border-top-right-radius: 90em;
  border-top-left-radius: 90em;
  border-bottom-right-radius: 20em;
  border-bottom-left-radius: 20em;
  position: absolute;
  bottom:0;
  z-index: 1;
  left: 4em;
  transform: rotateX(12deg) skewX(10deg);
  border: 5px solid black;
  border-bottom: 3px solid black;
}
.cartonBody3{
position: absolute;
  width: 3em;
  height: 2.1em;
  background-color:rgb(0, 187, 255);
  top: 0;
  border-top-right-radius: 90em;
  border-top-left-radius: 90em;
  border-bottom-left-radius: 10em;
  border-bottom-right-radius: 10em;
  border-bottom:2px solid black;
}

/*hand*/
.hand{
  position: absolute;
  width: 6em;
  top: 2em;
}


.hande1{
  border: 0.1em solid  ;
  width: 0.8em;
  height: 0.2em;
  transform: rotate(10deg);
  border-radius: 2em 3em 1.33em 2em;
  background-color: rgba(255, 230, 198);
  margin: 1em;
  position: absolute;
  top: -0.55em;
  left: 5.1em;
  z-index: -3;
}
.hande2{
  border: 0.08em solid;
  width: 0.4em;
  height: 0.25em;
  background-color: rgb(0,187, 255);
  position: absolute;
  left: 0.69em;
  top: 0.149em;
  border-radius:  2em 2em 2em 2em ;
  margin: 1em;
  position: absolute;
  top: -0.5em;
  left: 5.7em;
  z-index: -3;
}
.Hr2{
  margin: 1em;
  position: absolute;
  top: -0.5em;
  left: 7.4em;
  z-index: -3;
}
.hande3{
  border: 0.1em solid  ;
  width: 0.8em;
  height: 0.2em;
  transform: rotate(-10deg);
  border-radius: 3em 2em 2em 1.33em;
  background-color: rgba(255, 230, 198);
}
.hande4{
  border: 0.08em solid;
  width: 0.4em;
  height: 0.25em;
  background-color: rgb(0,187, 255);
  position: absolute;
  left: -0.15em;
  top: 0.0477em;
  border-radius:  2em 2em 2em 2em ;
}

/*legs*/

.leftrightfoots{
  position: relative;
  left: 6.16em;
  bottom: 0.05em;
  z-index: -2;

}
.leftfeets{
  position: relative;
}

.div1{
  background-color: rgb(255, 230, 198);
  position: relative;
  top: 4em;
  left: 1em;
  width: 0.4em;
  height: 0.9em;
  border: 6px solid black;
  border-radius: 0.1em 0em 0.05em 0.2em;
  transform: rotate(10deg);
}

.div2{
background-color: rgb(255, 255, 255);
height: 0.09em;
width: 0.4em;
border: 4px solid black;
position: absolute;
top: 0.5em;
left: -0.05em ;
}

.div3{
background-color: rgb(80, 80, 80);
height: 0.23em;
width: 0.42em;
position: absolute;
top: 0.68em;
right: -0.01em;
border-radius: 0em 0em 0em 0.1em;
}

.div4{
  background-color: rgb(255, 255, 255);
}

.rightfeets{
  position: relative;
}

.divone{
      background-color: rgb(255, 230, 198);
      position: relative;
      top: 2.94em;
      left: 1.7em;       
      height: 0.9em;
      width: 0.4em;
      border: 6px solid black;
      transform: rotate(169deg);
      border-radius: 0.2em 0.05em 0em 0.1em;
}

.divtwo{
  position: absolute;
  top: 0.2em;
  left: -0.05em ;
  background-color: rgb(255, 255, 255);
  height: 0.09em;
  width: 0.4em;
border: 4px solid black;
}
.divthree{
  background-color: rgb(80, 80, 80);
  height: 0.23em;
  width: 0.42em;
  position: absolute;
  top: em;
  right: -0.01em;
  border-radius: 0.1em 0em 0em 0em;

  }

@media (max-width: 600px) {
  .cc{
    position: absolute;
    height: 500px;
    left: -4.5em;
  }
  .face{
    top: 1.1em;
    left: 2.25em;
  }
}
