body{
    font-size: 75px;
    height: 100vh;
}
.leftrightfoots{
    position: relative;

}
.leftfeets{
    position: relative;
}

.div1{
    background-color: rgb(255, 230, 198);
    position: relative;
    top: 4em;
    left: 1em;
    width: 0.4em;
    height: 0.9em;
    border: 6px solid black;
    border-radius: 0.1em 0em 0.05em 0.2em;
    transform: rotate(10deg);
}

.div2{
background-color: rgb(255, 255, 255);
height: 0.09em;
width: 0.4em;
border: 4px solid black;
position: absolute;
top: 0.5em;
left: -0.05em ;
}

.div3{
background-color: rgb(80, 80, 80);
height: 0.23em;
width: 0.42em;
position: absolute;
top: 0.68em;
right: -0.01em;
border-radius: 0em 0em 0em 0.1em;
}

.div4{
    background-color: rgb(255, 255, 255);
}

.rightfeets{
    position: relative;
}

.divone{
        background-color: rgb(255, 230, 198);
        position: relative;
        top: 2.94em;
        left: 1.7em;       
        height: 0.9em;
        width: 0.4em;
        border: 6px solid black;
        transform: rotate(169deg);
        border-radius: 0.2em 0.05em 0em 0.1em;
}

.divtwo{
    position: absolute;
    top: 0.2em;
    left: -0.05em ;
    background-color: rgb(255, 255, 255);
    height: 0.09em;
    width: 0.4em;
border: 4px solid black;
}
.divthree{
    background-color: rgb(80, 80, 80);
    height: 0.23em;
    width: 0.42em;
    position: absolute;
    top: em;
    right: -0.01em;
    border-radius: 0.1em 0em 0em 0em;

    }


